.idea/
.vscode/
.DS_Store
node_modules/
/backend/node_modules/
/flutter-app/.dart_tool/
/flutter-app/build/
/flutter-app/.packages
/flutter-app/.flutter-plugins
/flutter-app/.flutter-plugins-dependencies
**/pubspec.lock
